<form [formGroup]="registrationForm" (ngSubmit)="submit()">
    <h1>{{edit? "Modifier" : "Inscription"}}</h1>
    <div class="inputs">
        <input type="lastName" formControlName="lastName" placeholder="Nom" required />
        <input type="firstName" formControlName="firstName" placeholder="Prénom" required/>
        <input type="email" formControlName="email" placeholder="Email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required email />
        <input type="password" formControlName="password" placeholder="Mot de passe" required/>

        <label class="intitule" for="role">Rôle</label>
        <select name="roles" id="roles" multiple formControlName="rolesId" required>
            <option *ngFor="let role of roles$ | async" value="{{role.id}}">{{role.label}}</option>
        </select>

        <div class="box">
            <label class="intitule">Actif</label>
            <div>
                <label class="isActive_oui" for="isActive_oui">Oui</label>
                <input type="radio" [value]="true" name="isActive" id="isActive_oui" formControlName="isActive">
            </div>
            <div>
                <label class="isActive_non" for="isActive_non">Non</label>
                <input type="radio" [value]="false" name="isActive" id="isActive_non" formControlName="isActive">
            </div>
        </div>
        <div class="btn">
            <button type="submit" class="envoyer" (click)="submit()">{{edit? "Modifier" : "Envoyer"}}</button>
            <button *ngIf="edit" type="submit" class="delete" (click)="handleDelete()">Supprimer</button>
        </div>
    </div>
</form>

<!-- <pre>
    {{ registrationForm.value | json }}
</pre> -->